<h3>{{post.title}}</h3>
<p>{{post.content}}</p>
<a href="/">돌아가기</a>
<form id="updateForm">
  <input type="text" name="title" value="{{post.title}}" required>
  <textarea name="content" required>{{post.content}}</textarea>
  <button type="submit">수정하기</button>
</form>
<a href="/posts/{{post._id}}/delete" onclick="return confirm('정말 삭제하시겠습니까?');">삭제하기</a>
